<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Add a Book and Review</title>
    <style>
        .container{
            margin-top: 60px;
            padding-top: 25px;
        }
        
        .checked {
            color: orange;
        }
        
        .book-box{
            padding-left: 20px;
        }
        .post_date{
            font-size: 12px;
            font-style: italic;
        }

        .other-books{
            width: 300px;
            height: 200px;
            overflow: scroll;
        }

        hr{
            height: 1px;
            background-color: black;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto"></ul>
            <div class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav">
                    <li class="nav-item mr-sm-2 text-white">
                        <a class="btn btn-outline-primary my-2 my-sm-0" href="/books">Home</a>
                    </li>
                    <li class="nav-item mr-sm-2 text-white">
                        <a class="btn btn-outline-primary my-2 my-sm-0" href="/books/add">Add a Book and Review</a>
                    </li>
                </ul>
                <a href="/logout" class="btn btn-outline-danger my-2 my-sm-0">Log out</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <br>
        <h5>{{ book.title }}</h5>
        <p>Author: {{ book.author }}</p>
        <br>
        <br>
        <div class="row">
            <div class="col-md-5">
                <h6>Reviews:</h4>
                <hr>
                <a href="">The greatest Salesman</a>
                {% for review in book.reviews %}
                    <div class="book-box">
                        Rating:
                        {% for i in range %}
                            {% if i < review.rating %}
                                <span class="fa fa-star checked"></span>
                            {% else %}
                                <span class="fa fa-star"></span>
                            {% endif %}
                        {% endfor %}
                        <p><span><a href="/users/{{ review.reviewer_id }}">{{ review.reviewer_first_name }}: </a></span>{{ review.review }}</p>
                        <span class="post_date">Post on {{ review.review_created_at|date:"M d, Y" }}</span>
                    </div><br>
                {% endfor %}
                <div class="row text-right">
                    <div class="col-md-1 offset-6">
                        <a href="/" class="btn btn-primary">Delete this review</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 offset-2">
                <h6>Add a Review:</h6>
                <form action="/add_book_review" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ book.id }}">
                    <textarea name="review" cols="30" rows="3" class="form-control"></textarea>
                    <div class="form-row">
                        <div class="col-md-3">
                            <label for="rating">Rating</label>
                            <select class="form-control" name="rating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit">Submit Review</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>